{% extends "base.html" %}
{% load static %}

{% block title %}

    <title>Index</title>

{% endblock title %}



{% block content %}


<div class="container text-center">
    <div class="row">
      <div class="col">
        <img src={% static 'images/stock1.jpg' %} width='300' height='300'>
      </div>
      <div class="col">
        <img src={% static 'images/stock2.jpeg' %} width='300' height='300'>
      </div>
      <div class="col">
        <img src={% static 'images/stock3.jpeg' %} width='300' height='300'>
      </div>
    </div>
  </div>
  <div class='container'>
    <br>
    <hr>
      {% for i in page_text %}
      
        <center><p>{{ i }}</p></center>
      
      {% endfor %}
      
      <br>
      <hr>
      <br>
      <center><button class= 'btn btn-outline-primary me-md-2'><a href="{% url 'home' %}">Let's start</a></button></center>

  </div>

{% endblock content %}







